
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">HospiGo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" *ngIf="loggedHospitalData.hospitalId !=0" [routerLink]="['/appointment-list']" routerLinkActive="router-link-active">Appointments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="loggedHospitalData.hospitalId !=0" [routerLink]="['/patient-list']" routerLinkActive="router-link-active">Pateints</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 d-flex ms-auto">
      <button class="btn btn-sm btn-light my-2 my-sm-0" type="button" *ngIf="loggedHospitalData.hospitalId !=0" >{{loggedHospitalData.hospitalEmailId}}</button>
      <button class="btn btn-sm btn-light my-2 my-sm-0" type="button" *ngIf="loggedHospitalData.hospitalId !=0" (click)="LogOut()">Logout</button>
      <button class="btn  btn-sm btn-outline-success my-2 my-sm-0" type="button" *ngIf="loggedHospitalData.hospitalId ==0" (click)="showLogin()">Login</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>

<div class="modal" tabindex="-1" role="dialog" id="loginModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login</h5>
        <button type="button" class="btn-close" (click)="closeLogin()"  aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-12">
                  <label for="">Username</label>
                   <input name="a" type="text"  [(ngModel)] = "userObj.userName" class="form-control">
              </div>
              <div class="col-12">
                  <label for="">Password</label>
                   <input name="a" type="text" [(ngModel)] = "userObj.password" class="form-control">
              </div>
          </div>
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-danger"  (click)="closeLogin()">Close</button>
        <button type="button" class="btn btn-success"  (click)="onLogin()">Login</button>

      </div>
    </div>
  </div>
</div>
