<div class="row">
    <div class="col-8">
        <div class="row">
           @for (item of appointmentList; track $index) {
            <div class="col-3"> 
     <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">{{item.mobileNo}}</h6>
              <p class="card-text">{{item.naration}}</p>
              <a href="#" class="card-link">{{item.appointmentDate}}- {{item.appointmentTime}}</a>
              <a href="#" class="card-link">{{item.city}}</a>
            </div>
          </div>
            </div>
          }
        </div>
        
    </div>
    <div class="col-4">
        <div class="container">
            <div class="card bg-dark text-white">
              <div class="card-header bg-secondary text-white">
                New Appointment
              </div>
              <div class="card-body">
                <form>
                  <div class="mb-3">
                    <label for="name" class="form-label">
                      <i class="bi bi-person text-light"></i> Enter Name
                    </label>
                    <input name="a1" type="text"  class="form-control bg-dark text-white" [(ngModel)] = "newAppointment.name" id="name" placeholder="Enter Name" />
                  </div>
          
                  <div class="mb-3">
                    <label for="mobile" class="form-label">
                      <i class="bi bi-telephone text-light"></i> Enter Mobile No
                    </label>
                    <input name="a1" type="text" class="form-control bg-dark text-white" [(ngModel)] = "newAppointment.mobileNo" id="mobile" placeholder="Enter Mobile No" />
                  </div>
          
                  <div class="mb-3">
                    <label for="city" class="form-label">
                      <i class="bi bi-geo-alt text-light"></i> Enter City
                    </label>
                    <input name="a1" type="text" class="form-control bg-dark text-white" [(ngModel)] = "newAppointment.city" id="city" placeholder="Enter City" />
                  </div>
          
                  <div class="mb-3">
                    <label for="age" class="form-label">
                      <i class="bi bi-calendar text-light"></i> Enter Age
                    </label>
                    <input name="a1" type="number" class="form-control bg-dark text-white" [(ngModel)] = "newAppointment.age" id="age" placeholder="Enter Age" />
                  </div>
          
                  <div class="mb-3">
                    <label class="form-label">
                      <i class="bi bi-person text-light"></i> Gender
                    </label>
                    <div>
                      <input name="a1" type="radio" id="male" name="gender" [(ngModel)] = "newAppointment.gender" value="Male" />
                      <label for="male">Male</label>
                      <input name="a1" type="radio" id="female" name="gender"  [(ngModel)] = "newAppointment.gender" value="Female" />
                      <label for="female">Female</label>
                    </div>
                  </div>
          
                  <div class="mb-3">
                    <div class="form-check">
                      <input name="a1" class="form-check-input bg-dark text-white" [(ngModel)] = "newAppointment.isFirstVisit" type="checkbox" id="firstTime" />
                      <label class="form-check-label text-white" for="firstTime">
                        Is First Time
                      </label>
                    </div>
                  </div>
          
                  <div class="mb-3">
                    <label for="appointmentDate" class="form-label">
                      <i class="bi bi-calendar text-light"></i> Select Date
                    </label>
                    <input name="a1" type="date" class="form-control bg-dark text-white" [(ngModel)] = "newAppointment.appointmentDate" id="appointmentDate" />
                  </div>
          
                  <div class="mb-3">
                    <label for="appointmentTime" class="form-label">
                      <i class="bi bi-clock text-light"></i> Enter Appointment Time
                    </label>
                    <input name="a1" type="time" class="form-control bg-dark text-white" [(ngModel)] = "newAppointment.appointmentTime" id="appointmentTime" />
                  </div>
          
                  <div class="mb-3">
                    <label for="narration" class="form-label">
                      <i class="bi bi-chat-dots text-light"></i> Enter Narration
                    </label>
                    <textarea name="a2" class="form-control bg-dark text-white" [(ngModel)] = "newAppointment.naration" id="narration" rows="3"></textarea>
                  </div>
          
                  <button type="submit" class="btn btn-success w-100" (click)="bookAppointment()">Submit</button>
                </form>
              </div>
            </div>
          </div>
          
    </div>
</div>


  
